*{
    margin: 0px;
    padding: 0px;
}
:root{
    --inter:"Inter",sans-serif;
    --teko:"Teko",sans-serif;
    --brand:#FFCC00;
    --brandClaro:#FFE990;
    --brandEscuro:#CAA100;
    --gradient:linear-gradient(to right,#FFCC00,#CAA100);
    --dark:#14141B;
    --light:#DDDDDD;
    --preto:#000000;
    --branco:#FFFFFF;

}

body{
    background-color: #14141B;
}
.headerPrincipal{
    background-color: aqua;
    position: fixed;
    width: 100%;
    border-top: 3px solid #FFCC00;
    padding:24px 0px
}
.headerPrincipal .container{
    display: flex;
}
.hero{
    background-image: url("../imagens/bg_hero.webp");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top right;
}